target/
.settings
.classpath
.project
roda-installer/*.zip
roda-installer/roda-installer_v*
*~
**/.DS_Store
roda-core/roda-core/velocity.log.1
.idea/
*.iml
independent_plugin_script.sh
compile_plugin.sh
jar_plugins/
roda-cas/overlays/
**/.factorypath
.vscode/
**/**/*.log.txt

# Local dev overrides
docker-compose.dev.local.yml
env/dev.local.env

# Local docker-compose overrides / backups
**/docker-compose.override.y*ml
**/docker-compose.devlocal.y*ml
**/*.bak

# Local instance props (om lokal)
roda/config/roda-core.properties
