services:
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspaces/roda:cached
    command: sleep infinity

  zoo:
    image: docker.io/zookeeper:3.9-jre-17
    restart: unless-stopped
    environment:
      - ZOO_4LW_COMMANDS_WHITELIST=mntr,conf,ruok
    volumes:
      - zookeeper_data:/data
      - zookeeper_datalog:/datalog

  solr:
    image: docker.io/solr:9.8.1
    restart: unless-stopped
    ports:
      - "18983:8983"
    environment:
      SOLR_HEAP: 2g
      ZK_HOST: zoo:2181
    command: ["-c"]
    volumes:
      - solr_data:/var/solr

  clamd:
    image: docker.io/clamav/clamav:1.4
    restart: unless-stopped
    volumes:
      - clam_data:/var/lib/clamav
      - roda_data:/roda/data/

  siegfried:
    image: ghcr.io/keeps/siegfried:v1.11.0
    restart: unless-stopped
    environment:
      SIEGFRIED_HOST: 0.0.0.0
      SIEGFRIED_PORT: 5138
    volumes:
      - siegfried_data:/root/siegfried/
      - roda_data:/roda/data/

  mailpit:
    image: axllent/mailpit:v1.24
    restart: unless-stopped
    ports:
      - "11025:1025"
      - "18025:8025"

  openldap:
    image: symas/openldap:2.6
    container_name: openldap
    restart: unless-stopped
    ports:
      - "11389:389"
    environment:
      LDAP_PORT_NUMBER: 389
      LDAP_ROOT: dc=roda,dc=org
      LDAP_ADMIN_USERNAME: admin
      LDAP_ADMIN_PASSWORD: roda
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d

  swagger:
    image: docker.io/swaggerapi/swagger-ui:v5.13.0
    restart: on-failure
    ports:
      - "18081:8080"
    environment:
      - URL=http://localhost:8080/api/openapi.json
      - DOC_EXPANSION=none
      - VALIDATOR_URL=none

  postgres:
    image: docker.io/postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: roda
      POSTGRES_DB: roda_core_db
    ports:
      - "15432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  roda:
    image: docker.io/keeps/roda:development
    restart: unless-stopped
    ports:
      - "18080:8080"
    depends_on:
      - solr
      - clamd
      - siegfried
      - postgres
      - openldap
    volumes:
      - roda_data:/roda/data/
      - ./roda/config/roda-core.properties:/roda/config/roda-core.properties:ro
      # Här kan vi senare lägga in plugins:
      # - ./roda/config/plugins:/roda/config/plugins
    env_file:
      - ./env/dev.env

volumes:
  zookeeper_data:
  zookeeper_datalog:
  solr_data:
  clam_data:
  siegfried_data:
  roda_data:
  pg_data:
  ldap_data:
  ldap_config:
